<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="kr.ac.ers.repository.SensorckMapper">
	<insert id ="insertOutSenSor">
		insert 
		into emergency(id, outconfirm, outtime)
		values(#{id},#{outconfirm},#{outtime})
	</insert>
	<insert id ="insertActiveTime">
		insert 
		into emergency(id, activetime)
		values(#{id},#{activetime})
	</insert>
</mapper>